<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: RBD</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<form th:action="@{/search}" th:object="${connectionFinderForm}" method="get">

    <div>
        <div>
            <label for="start">Start:</label>
            <select id="start" th:field="*{startCityId}">
                <option th:each="city : ${cities}"
                        th:value="${city.name}"
                        th:text="${city.name}"/>
            </select>
        </div>
        <div>
            <label for="end">Koniec:</label>
            <select id="end" th:field="*{endCityId}">
                <option th:each="city : ${cities}"
                        th:value="${city.name}"
                        th:text="${city.name}"/>
            </select>
        </div>
        <input type="submit"/>
    </div>

    <div th:if="${foundConnections != null}" >
        <table>
            <tr th:each="connection : ${foundConnections}">
                <td>
                    <a th:href="@{'/details/' + ${connection.id}}" th:text="${connection.label}"/>
                </td>
            </tr>
        </table>
    </div>
</form>
</body>
</html>