<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: RBD</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <div>
        <h1 th:text="${connection.label}"/>
        <h2>Dostępne połączenia</h2>
        <table>
            <tr>
                <th>Data</th>
                <th>Miejsca</th>
                <th>Nazwa pociagu</th>
                <th>Kup</th>
            </tr>
            <span th:text="${message}"></span>
            <tr th:each="connectionInstance : ${connectionInstances}">
                <td>
                    <span th:text="${connectionInstance.dateOfDeparture}"></span>
                </td>
                <td>
                    <span th:text="${connectionInstance. numberOfTicketsBought} + '/' + ${connectionInstance.capacity} "></span>
                </td>
                <td>
                    <span th:text="${connectionInstance. trainName}"></span>
                </td>
                <td>
                    <form th:action="@{'/details/' + ${connection.id} + '/buyTicket'}" method="post">
                        <input type="hidden" th:value="${connectionInstance.id}" th:name="instanceId"/>
                        <input type="submit" value="Kup"/>
                    </form>
                    <form th:action="@{'/details/' + ${connection.id} + '/removeTicket'}" method="post">
                        <input type="hidden" th:value="${connectionInstance.id}" th:name="instanceId"/>
                        <input type="submit" value="Sprzedaj"/>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>